{
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [
          ".css"
        ]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "next/babel"
  ],
  "ignore": []
}
