@import '../../../styles/_colors.scss';

.Header {
  .logo {
    margin-right: 50px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 50%;
    .nav-link {
      padding: 0;
    }
  }

  .logout-link {
    opacity: .5;
    color: #000000;
    font-weight: 600;
    margin-left: auto;
  }
}